@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Student 1:</strong> <a href="mailto:Andrius.Bertasius@mif.stud.vu.lt">Andrius.Bertasius@mif.stud.vu.lt</a><br/>
    <strong>Student 2:</strong> <a href="mailto:Rokas.Petraukas@mif.stud.vu.lt">Rokas.Petraukas@mif.stud.vu.lt</a><br/>
    <strong>Student 3:</strong> <a href="mailto:Juozapas.Gelcys@mif.stud.vu.lt">Juozapas.Gelcys@mif.stud.vu.lt</a>
</address>