
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<div class="jumbotron">
    <blockquote class="blockquote">
        <p class="mb-0 font-weight-bold font-italic">If you would be wealthy, think of saving as well as getting.</p>
        <footer class="blockquote-footer font-weight-bolder">Benjamin Franklin</footer>
    </blockquote>



</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Computers</h4>
                <p class="card-text">Computers, laptops, accessories and other useful products in the category of computers</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Phones</h4>
                <p class="card-text">Huawei, IPhone, Samsung and lots of other brands of phones as well as phone accessories</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Foto and video</h4>
                <p class="card-text">Some text</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Furniture</h4>
                <p class="card-text">Some text</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Audio</h4>
                <p class="card-text">Some text</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Clothing</h4>
                <p class="card-text">Some text</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some text</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid" src="//placehold.it/500x200" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some text</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>