@using CheapShopWeb
@using CheapShopWeb.Controllers
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                @if (User.IsInRole("Admin"))
                {
                    <a class="dropdown-item" href=@Url.Action("TrustedUser", "TrustedUser", null, null)>Edit Products</a>
                }
                <div class="dropdown-divider"></div>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Log off</a>
            </div>
        </li>
    }
}
else
{
    @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "nav-item nav-link" })
}