
/*Home page jumbotron image*/
.jumbotron {
    background-size: cover;
    background-image: url(/content/images/jumbotron.jpg);
}


.quote {
    color: #262626;
    font-style: italic;
    font-weight: bold !important;
    font-size: 30px !important;
}

